<form class = "bubble-component" style>
    <h2 class = "section-header">Login</h2>
    <div class = "form-item">
        <input type = "text" [(ngModel)]="username" name = "username" placeholder="Username" style = "width: 30%">
    </div>
    <div class = "form-item">
        <input type = "text" [(ngModel)]="password" name = "password" type = "password" placeholder="Password" style = "width: 30%">
    </div>
    <span style = "color: red;">{{errors}}</span>
    <button class = "rounded-button" type = "button" (click) = "login(username, password)" style = "margin-top: 2vh;">Sign In</button>
    <a (click) = "switchView()" class = "cryptrak-text" style = "text-align: center; margin-top: 2em;">Don't have an account? Click here to create one.</a>
</form>