::ng-deep body {
    padding: 0;
    margin: 0;
    background-color: #1e2225;
    color: white;
}
::ng-deep a:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: translateY(-0.2rem);

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #000000;
    color: #00aec5;
    font-size: 5vh;
    min-height: 8vh;
    font-family: 'Exo';
    font-weight: 100;
    border-bottom: 1px solid #00aec5;
    margin-bottom: 3vh;
}
.dash-left-stack {
    width: 60vw;
    border-right: solid red 1px;
}

.dash-right-stack {
    border-left: solid red 1px;
    width: 40vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}


::ng-deep .section-header {
    font-family: 'Exo';
    font-weight: 200;
    font-size: 4vh;
    color: #00aec5;
    text-align: center;
}
::ng-deep .cryptrak-text {
  font-family: 'Exo';
  font-weight: 400;
  color: #00aec5;

}
.bubble-component {
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 15px;
    border: 1px solid #00aec5;
    background-color: #26353b;
}

::ng-deep .rounded-button { 
    align-self: center;
    border-radius: 30px;
    border: none;
    background-color: #00aec5;
    line-height: 1em;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    white-space: nowrap;
    transition: transform .3s;
    
}
::ng-deep .rounded-button:hover, .slider.round {
    cursor: pointer;
    filter: brightness(90%);
    transform: translateY(-0.2rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

::ng-deep form {
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 50%;
  align-self: center;
  flex-grow: 0;
  margin: auto;

}
::ng-deep input {
  border-radius: 30px;
  border: none;
  padding-top: .25em;
  padding-bottom: .25em;
  text-align: center;
}

::ng-deep ::-webkit-input-placeholder {
  text-align: center;
}

::ng-deep :-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::ng-deep ::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

::ng-deep :-ms-input-placeholder {  
  text-align: center; 
}

::ng-deep .form-item {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 50%;
    align-self: center;
}
::ng-deep .form-item > *{
    margin-right: 1em;
}

::ng-deep .stonks {
    color: rgb(1, 155, 30);
}

::ng-deep .loss {
    color: rgb(241, 66, 66);
}

/*
SWITCH STUFF
*/

 /* The switch - the box around the slider */
 ::ng-deep .switch {
    position: relative;
    display: inline-block;
    width: 60px !important;
    height: 34px;

  }
  
  /* Hide default HTML checkbox */
::ng-deep .switch input {
    opacity: 0;
    width: 0 !important;;
    height: 0;
  }

::ng-deep .switch:hover {

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
  
  /* The slider */
::ng-deep  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(1, 155, 30);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  ::ng-deep  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px !important;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
::ng-deep input:checked + .slider {
    background-color: rgb(241, 66, 66);
  }
  
::ng-deep input:focus + .slider {
    box-shadow: 0 0 1px rgb(241, 66, 66);
  }
  
::ng-deep input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
::ng-deep .slider.round {
    border-radius: 34px;
  }
  
::ng-deep  .slider.round:before {
    border-radius: 50%;
  } 


