<h2 class = "section-header" style = "text-align: center;">Current Market</h2>
<table class='table'>
    <tr>
        <th></th>
        <th>Rank</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
        <th>Hourly Change</th>
        <th>Daily Change</th>
    </tr>
    <tr *ngFor="let token of tokens | ranking: refreshCount">
      <!-- <token [name] = "token.name" 
             [symbol] = "token.symbol"
             [data] = "token.data"
             [rank] = "token.rank">
      </token> -->
      <td (click) = "updateRankings(token.symbol)"><star  [tokenSymbol] = "token.symbol" [filled] = "isWatched(token.symbol)"></star></td>
      <td><b>{{token.rank}}</b></td>
      <td><b>{{token.symbol}}</b></td>
      <td>{{token.name}}</td>
      <td>{{token.data.price| currency}}</td>
      <td [ngClass]="{'price-up': token.data.percentChange1h >= 0, 'price-down': token.data.percentChange1h < 0}">{{token.data.percentChange1h.toFixed(2)}}%</td>
      <td [ngClass]="{'price-up': token.data.percentChange24h >= 0, 'price-down': token.data.percentChange24h < 0}">{{token.data.percentChange24h.toFixed(2)}}%</td>
    </tr>
</table>