<form class = "bubble-component" style>
    <h2 class = "section-header"> Create an Account</h2>
    <div class = "form-item">
        <input type = "text" [(ngModel)]="username" name = "username" placeholder="Username" style = "width: 30%">
    </div>
    <div class = "form-item">
        <input type = "text" [(ngModel)]="password" name = "password" type = "password" placeholder="Password" style = "width: 30%">
    </div>
    <span style = "color: red;">{{errors}}</span>
    <button class = "rounded-button" type = "button" (click) = "register(username, password)" style = "margin-top: 2vh;">Create User</button>
    <a (click) = "switchView()" class = "cryptrak-text" style = "text-align: center; margin-top: 2em;">Already have an account? Click here to sign in.</a>
</form>