<form class = "bubble-component" style>
    <h2 class = "section-header"> Create an Account</h2>
    <div class = "form-item">
        <label>Username</label><input type = "text" [(ngModel)]="username" name = "username" placeholder="Username">
    </div>
    <div class = "form-item">
        <label>Password</label><input type = "text" [(ngModel)]="password" name = "password" type = "password" placeholder="Password">
    </div>
    <small>Your password must contain at least 8 characters.</small>
    <button class = "rounded-button" type = "button" (click) = "register(username, password)">Create User</button>
    <a (click) = "switchView()" class = "cryptrak-text" style = "text-align: center; margin-top: 2em;">Already have an account? Click here to sign in.</a>
</form>